/* Mixins */
/* Global definitions */
@import url("https://fonts.googleapis.com/css?family=Merriweather|Oxygen|Poppins|Rubik|Ubuntu:400,700|Varela+Round&display=swap");
a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem; }
  a:hover:hover {
    color: #5efc8d;
    transition: all 0.3s ease-in; }

/* Text configs */
h1 {
  font-size: 5rem;
  margin: 0.5em; }

.lg-heading {
  font-size: 2.2rem;
  margin-bottom: 0.5em; }

.regular-text {
  font-size: 1.1rem; }

.sm-heading {
  font-size: 1.5rem;
  font-weight: 100; }

.m-heading {
  font-size: 1.2rem;
  font-weight: 100; }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #fff;
  font: 18px/1.9em "Ubuntu", sans-serif;
  min-height: 1080px; }

/* Nav styling */
#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0; }
  #menu-ul {
    display: flex;
    width: 35%;
    margin: 0 auto;
    padding-top: 0.5em;
    list-style-type: none;
    justify-content: space-between;
    font-weight: bold; }
    #menu-ul li.current > a {
      color: #5efc8d; }

/* Nav end */
#home {
  background: url(../images/header-background.JPG);
  background-size: cover;
  height: 100vh;
  /* header-info */ }
  #home:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  #home .header-info {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 25%; }
    #home .header-info_content {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 0 auto; }
    #home .header-info h3 {
      width: 85%;
      margin: 0 auto; }
    #home .header-info_social {
      width: 30%;
      display: flex;
      margin: 0 auto;
      margin-top: 2.5em;
      list-style-type: none;
      justify-content: space-between;
      z-index: 2; }
  #home .btn-down {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    z-index: 5;
    opacity: 0.9; }
    #home .btn-down > a {
      transition: all 0.5s ease-out; }

#about {
  background: #253031;
  height: 85vh;
  display: flex;
  justify-content: space-around; }
  #about .regular-text {
    color: #c8cbce; }
  #about .text-secondary {
    color: #84b6d6; }
  #about .about-img {
    display: flex;
    flex: 2;
    justify-content: center;
    padding-top: 8em; }
    #about .about-img img {
      border: #84b6d6 3px solid; }
  #about .about-info {
    flex: 3;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-right: 10em; }
    #about .about-info_content {
      margin: 0 auto; }
    #about .about-info_details {
      display: flex;
      justify-content: space-between;
      padding-top: 1.5em; }
      #about .about-info_details .address {
        flex: 1; }
      #about .about-info_details .resume-btn {
        flex: 1;
        display: block; }
        #about .about-info_details .resume-btn_wrapper {
          display: inline-block;
          background: #3b4c4e;
          margin-top: 1em;
          padding: 0.5rem 0.6rem;
          border-radius: 5px; }
          #about .about-info_details .resume-btn_wrapper:hover {
            background: white;
            transition: all 0.3s ease-in; }
            #about .about-info_details .resume-btn_wrapper:hover a {
              color: #000;
              transition: all 0.3s ease-in; }
          #about .about-info_details .resume-btn_wrapper i {
            margin-right: 0.5rem; }
  #about .profile-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%; }

.skills {
  height: 65vh;
  background: #162b44;
  display: flex;
  justify-content: space-around; }
  .skills .skillset {
    flex: 1;
    padding-top: 4em;
    color: #0feaea; }
    .skills .skillset-header {
      display: flex;
      justify-content: center; }
      .skills .skillset-header i {
        margin-left: 0.5em;
        animation: pulse 3s infinite linear; }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
    .skills .skillset-main {
      padding: 1em 4em 0 4em;
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(3, 1fr); }
      .skills .skillset-main_item {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .skills .skillset-main_item i {
          padding-bottom: 0.2em; }
    .skills .skillset-main {
      border-right: 1px solid #5d8dca; }
  .skills .tools {
    flex: 1;
    padding-top: 4em;
    color: #0cc8fe; }
    .skills .tools-header {
      display: flex;
      justify-content: center; }
      .skills .tools-header i {
        margin-left: 0.5em;
        animation: pulse 3s infinite linear; }

@keyframes pulse {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
    .skills .tools-main {
      padding: 1em 4em 0 4em;
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(3, 1fr); }
      .skills .tools-main_item {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .skills .tools-main_item i {
          padding-bottom: 0.2em; }

.portfolio {
  background: #1e395b;
  color: #c8cbce;
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-head {
    text-align: center; }
  .portfolio-projects {
    display: grid;
    padding: 3em 7em 4em 7em;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em; }
    .portfolio-projects_item {
      background: #24456e; }
      .portfolio-projects_item img {
        width: 100%;
        filter: brightness(80%);
        z-index: 15; }
        .portfolio-projects_item img:hover {
          filter: brightness(55%);
          transition: all 0.3s ease-in; }
      .portfolio-projects_item .project-description {
        padding: 0.7em; }
        .portfolio-projects_item .project-description h2 {
          color: #fff; }
          .portfolio-projects_item .project-description h2::after {
            content: '';
            display: block;
            margin-top: 0.3em;
            width: 100%;
            background-color: #3c73b7;
            height: 1px; }
        .portfolio-projects_item .project-description .regular-text {
          padding-top: 0.3em; }
      .portfolio-projects_item .project-buttons {
        display: flex;
        justify-content: space-around;
        padding: 1em 0 2em 0; }
        .portfolio-projects_item .project-buttons a {
          flex-basis: 42%;
          background: #adb2b6;
          border: #253031 1px solid;
          color: #000;
          border-radius: 5px; }
          .portfolio-projects_item .project-buttons a:hover {
            transition: all 0.3s ease-in;
            background: #303e40;
            border: #505393 1px solid;
            color: #fff; }
          .portfolio-projects_item .project-buttons a i {
            display: inline-block;
            padding: 0 0.5em 0 0.5em; }

.contact {
  background: #253031;
  color: #c8cbce;
  height: 70vh; }
  .contact-header {
    text-align: center;
    padding-top: 3em;
    color: #fff; }
  .contact-infos {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding-top: 3em;
    justify-content: space-between; }
    .contact-infos_item {
      background: #303e40;
      flex-basis: 29%;
      text-align: center;
      border: #3667a4 1px solid;
      transition: all 0.5s ease-in-out; }
      .contact-infos_item a {
        color: #c8cbce; }
      .contact-infos_item:hover {
        transform: translateY(-10%);
        background: #374748; }
        .contact-infos_item:hover a {
          color: #0cbaba; }
      .contact-infos_item .item-heading {
        padding: 2em 0 0.7em 0; }
        .contact-infos_item .item-heading i {
          color: #01baef; }
        .contact-infos_item .item-heading h3 {
          padding-top: 1em;
          color: #fff; }
          .contact-infos_item .item-heading h3::after {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 0.3em;
            width: 30%;
            background-color: #3667a4;
            height: 1px; }
      .contact-infos_item p {
        padding-bottom: 2em; }

footer {
  background: #161c1d;
  position: relative; }
  footer .btn-up {
    position: absolute;
    width: 100%;
    text-align: center;
    display: block;
    top: -27px;
    opacity: 0.8; }
