@include mediaXXl {
  #menu {
    &-ul {
      width: 55%;
    }
  }

  #home {
    .header-info {
      top: 17%;
      h1 {
        margin-bottom: 0.6rem;
      }
      .lg-heading {
        width: 90%;
      }
      &_content {
        width: 70%;
      }
    }
  }
  .about {
    padding: 4em 0 5rem 0;
  }

  .portfolio {
    padding: 3em 0;
    &-projects {
      display: block;
      padding: 3em 0 2em 0;
      width: 55%;
      &_item {
        margin-bottom: 3em;
      }
    }
  }
}

@include mediaXl {
  #menu {
    &-ul {
      width: 50%;
    }
  }
  #home {
    background-position: 0% 0%;
    .header-info {
      top: 17%;
      h1 {
        margin-bottom: 0.6rem;
      }
      .lg-heading {
        width: 90%;
      }
      &_content {
        width: 70%;
      }
      &_social {
        padding-top: 9em;
        width: 40%;
        li {
          height: 3.2rem;
          width: 3.2rem;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
          a {
            color: darken($aqua-blue, 10);
            &:hover {
              color: darken($aqua-blue, 25);
            }
          }
        }
      }
    }
  }
}

@include mediaLg {
  #menu {
    &-ul {
      width: 55%;
    }
  }

  #home {
    .header-info {
      top: 17%;

      &_content {
        width: 70%;
        h1 {
          margin-bottom: 0.6rem;
          font-size: 3.5rem;
          line-height: 3.7rem;
        }
        .lg-heading {
          font-size: 1.7rem;
          width: 100%;
        }
      }
      &_social {
        padding-top: 9rem;
        width: 45%;
        li {
          height: 3.2rem;
          width: 3.2rem;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
          a {
            color: darken($aqua-blue, 10);
            &:hover {
              color: darken($aqua-blue, 25);
            }
          }
        }
      }
    }
  }

  .about {
    flex-direction: column;
    display: block;
    padding: 3em 0;
    &-img {
      .profile-img {
        width: 200px;
        height: 200px;
      }
    }

    &-info {
      display: block;
      width: 80%;
      padding: 2em 0 0 0;
      margin: 0 auto;
      text-align: center;

      .resume-download {
        display: block;
        padding-top: 2.5rem;
      }
    }
  }

  #skills {
    // height: 110vh;
    display: block;
    .skillset {
      padding: 3rem 0 0 0;
      &-main {
        border-right: none;
      }
      &::after {
        content: '';
        display: block;
        margin: 3em auto 3em auto;
        //top: 20%;
        background-color: lighten($dark-blue, 15);
        height: 1px;
        width: 50%;
      }
    }

    .tools {
      padding-top: 0;
    }
  }

  .contact {
    padding: 3em 0;
    &-infos {
      display: block;
      padding-top: 1em;
      &_item {
        display: block;
        width: 50%;
        margin: 0 auto 2em auto;
      }
    }
  }
  .portfolio {
    &-projects {
      width: 75%;
    }
  }
}

@include mediaLMd {
  #menu {
    &-ul {
      width: 70%;
    }
  }

  #home {
    .header-info {
      top: 20%;

      &_content {
        width: 73%;
        h1 {
          font-size: 3rem;
          line-height: 3.4rem;
        }
        .lg-heading {
          font-size: 1.7rem;
          width: 100%;
        }
      }
      &_social {
        padding-top: 8rem;
        width: 53%;
        li {
          height: 3.2rem;
          width: 3.2rem;
          background: rgba(255, 255, 255, 0.6);
          border-radius: 50%;
          a {
            color: darken($aqua-blue, 10);
            &:hover {
              color: darken($aqua-blue, 25);
            }
          }
        }
      }
    }
  }
}

@include mediaMd {
  .lg-heading {
    font-size: 1.9rem;
  }
  .regular-text {
    font-size: 1.1rem;
  }
  #menu {
    a {
      font-size: 0.9rem;
    }
    &-ul {
      width: 83%;
    }
  }

  #home {
    .header-info {
      top: 21%;
      &_content {
        width: 81%;
        h1 {
          font-size: 2.8rem;
        }
        .lg-heading {
          font-size: 1.4rem;
        }
      }
      &_social {
        padding-top: 10rem;
        margin-top: 1.3em;
        width: 70%;
      }
    }
  }
  .about {
    &-info_content {
      width: 100%;
      .regular-text {
        font-size: 1rem;
      }
    }
  }
  #skills {
    .skillset-main,
    .tools-main {
      padding: 1em 2em 0 2em;
    }
  }

  .portfolio {
    &-head {
      padding: 0 0.5rem;
    }
    &-projects {
      width: 85%;
    }
  }
  .contact {
    &-infos {
      &_item {
        width: 70%;
      }
    }
  }
}

@include mediaSm {
  #menu {
    a {
      font-size: 0.8rem;
    }
    &-ul {
      width: 93%;
    }
  }

  #home {
    background-position: 12% 0%;
    .header-info {
      top: 22%;
      &_content {
        width: 90%;
        h1 {
          font-size: 2.5rem;
        }
        .lg-heading {
          font-size: 1.3rem;
        }
      }
      &_social {
        width: 80%;
      }
    }
  }

  #about {
    .regular-text {
      font-size: 0.9rem;
    }
  }

  #skills {
    .skillset-main,
    .tools-main {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .portfolio {
    .sm-heading {
      font-size: 1em;
      padding: 0 0.5rem;
    }
    &-projects {
      width: 80%;
    }
  }

  .contact {
    &-infos_item {
      width: 90%;
      p.regular-text {
        font-size: 1.1rem;
        padding: 0 0.3rem;
      }
    }
  }
}

@include mediaXs {
  #menu {
    a {
      font-size: 0.73rem;
    }
    &-ul {
      width: 95%;
    }
  }

  #home {
    background-position: 18%;
    .header-info {
      top: 25%;
      &_content {
        width: 95%;
        h1 {
          font-size: 2.2rem;
          line-height: 2.4rem;
        }
        .lg-heading {
          font-size: 1.3rem;
          line-height: 1.9rem;
        }
      }
    }
  }
}

@include mediaXXs {
  #home {
    background-position: 18%;
    .header-info {
      top: 27%;
      &_content {
        width: 85%;
        h1 {
          font-size: 2rem;
          line-height: 2.2rem;
        }
        .lg-heading {
          padding-top: 0.5rem;
          font-size: 1.2rem;
        }
      }
      &_social {
        width: 50%;
        padding-top: 7rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        li {
          margin-bottom: 0.5em;
          flex-basis: 40%;
        }
      }
    }
  }

  .about {
    &-img {
      .profile-img {
        width: 170px;
        height: 170px;
      }
    }
  }

  .portfolio {
    .project-buttons {
      flex-direction: column;
      a {
        width: 60%;
        margin: 0 auto 1em auto;
      }
    }
  }

  .contact {
    // height: 165vh;
    &-infos_item {
      width: 85%;
    }
  }
}
