@import url('https://fonts.googleapis.com/css?family=Merriweather|Oxygen|Poppins|Rubik|Ubuntu:400,700|Varela+Round&display=swap');

$f-Merriweather: 'Merriweather', sans-serif;
$f-Oxygen: 'Oxygen', sans-serif;
$f-Ubuntu: 'Ubuntu', sans-serif;
$f-Varela: 'Varela Round', sans-serif;
$f-Rubik: 'Rubik', sans-serif;
$f-Poppins: 'Poppins', sans-serif;
